//colors.
$color-black: #000;
$color-white: #fff;
$color-cta: #36b4a7;
$color-border: #d6d6d6;
$color-copyright: #6a6a6a;
$color-playlist-title: #37444e;
$color-subscribe-list: #141720;

//Font.
$font-size-xxxx-lg: 70px;
$font-size-xxx-lg: 60px;
$font-size-xx-lg: 50px;
$font-size-x-lg: 40px;
$font-size-md: 30px;
$font-size-md-sm: 25px;
$font-size-md-x-sm: 22px;
$font-size-sm: 20px;
$font-size-normal: 18px;
$font-size-x-sm: 16px;
$font-size-xx-sm: 15px;
$font-size-xxx-sm: 14px;
$font-size-xxxx-sm: 13px;

$font-helvetica-normal: 'HelveticaNeue';
$font-helvetica-medium: 'HelveticaNeueMedium';
$font-helvetica-bold: 'HelveticaNeueBold';

$font-weight-normal: 400;
$font-stack: $font-weight-normal $font-size-normal $font-helvetica-normal, Arial, sans-serif;

// Breakpoints and media queries.
$breakpoint-mobile-portrait: 350px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-sm-desktop: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-lg-desktop: 1441px;

@mixin mobile-up {
  @media only screen and (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin sm-desktop-up {
  @media only screen and (min-width: $breakpoint-sm-desktop) {
    @content;
  }
}

@mixin desktop-up {
  @media only screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin lg-desktop-up {
  @media only screen and (min-width: $breakpoint-desktop + 1) {
    @content;
  }
}

@mixin xl-desktop-up {
  @media only screen and (min-width: $breakpoint-lg-desktop) {
    @content;
  }
}

@mixin iphone-5-landscape {
  @media only screen and (min-width: $breakpoint-mobile-portrait) and (max-device-width: 568px) and (orientation: landscape) {
    @content;
  }
}

@mixin iphone-5-portrait {
  @media only screen and (max-width: $breakpoint-mobile-portrait) {
    @content;
  }
}

@mixin iphone-4-landscape {
	@media only screen and (min-device-width: 320px) and (max-device-width: $breakpoint-mobile) and (orientation:landscape){
		@content;
	}
}

@mixin mobile-landscape {
  @media only screen and (min-device-width: $breakpoint-mobile) and (max-device-width: 736px) and (orientation: landscape) {
    @content;
  }
}

@mixin ipad-landscape {
  @media only screen and (min-width: $breakpoint-tablet) and (max-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

//CTA.
@mixin default-cta {
	color: $color-white;
	background: $color-cta;
	border: 1px solid #36B4A7;
	border-radius: 100px;
	display: block;
	font-family: HelveticaNeueBold;
	height: 48px;
	line-height: 53px;
	margin: 15px auto;
	width: 300px;

	@include mobile-up {
		font-size: $font-size-sm;
	}
	
	@include desktop-up {
	  line-height: 45px;
	}
}

@mixin clear {
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
}

@mixin clear-fix {
  &::after {
		@include clear;
	}
}

$block-container: 100%;
$block-max-width: 1600px;
$block-spacing-60: 60px;
$block-spacing-40: 40px;