@mixin font-face($fontname) {
  @font-face {
    font-family: $fontname;
    src:url("../fonts/"+$fontname+"/"+$fontname+".woff2") format("woff2"),
        url("../fonts/"+$fontname+"/"+$fontname+".woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

@include font-face("HelveticaNeue");
@include font-face("HelveticaNeueMedium");
@include font-face("HelveticaNeueBold");