/**
 * Slider specific styles
 */
.block {
	
	&__slider {
		border-radius: 5px;
		display: block;
		margin: 20px auto;
		position: relative;
		width: 100%;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: -moz-none;
		-o-user-select: none;
		user-select: none;
		overflow: hidden;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		
		@media screen and (min-width: 640px) {
			width: 650px;
		}
		
		@include mobile-landscape {
			width: 600px;
		}
		
		@include iphone-5-landscape {
			width: 450px;
		}
		
		.frame {
			position: relative;
			width: 100%;
			margin: 0 auto;
			font-size: 0;
			line-height: 0;
			overflow: hidden;
			white-space: nowrap;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			
			@include mobile-landscape {
				width: 520px;
			}
			
			@media screen and (min-width: 640px) {
				margin-left: -70px;
				width: 720px;
			}
			
			@include iphone-5-landscape {
				width: 450px;
			}

			li {
				position: relative;
				display: inline-block;
			}
		}
		
		.prev, 
		.next {
			position: absolute;
			top: 0;
			display: block;
			cursor: pointer;
			background: #000;
			opacity: 0.5; 
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}
		
		.next {
			right: 0;
		}

		.prev {
			left: 0;
		}

		.next svg, 
		.prev svg {
			width: 80px;
			height: 147px; 
			
			@include mobile-landscape {
				width: 70px;
    		height: 137px;
			}
		}
	}

	&__multislides {
		li {
			width: 150px;
			height: 150px;
			margin-right: 10px;
			
			@include mobile-landscape {
				width: 140px;
				height: 140px;
				margin: 0 10px 20px 0;
			}
			
			@include iphone-5-landscape {
				width: 140px;
				height: 140px;
				margin: 0 10px 20px 0;
			}
			
			&:last-child {
					margin-right: 0;
			}
		}	
	}
	
	&__slider.desktop {
		
		@include sm-desktop-up {
			width: 533px;
			white-space: normal;
			margin: 10px auto;
			float: right;
			
			.frame {
				width: 100%;
				white-space: normal;
				margin-left: auto;
			}
			
			.slides {
				transform: none !important;
				margin: 0;
				padding: 0;
			}
			
			.js_prev,
			.js_next {
				display: none;
		  }
		}
	}
	
	&__multislides.desktop {
		li {
			@include sm-desktop-up {
				width: 170px;
				height: 170px;
				margin: 0 10px 20px 0;

				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}

	@media only screen and (min-width: 320px) and (max-width: 568px) {
		&__slider .js_prev,
		&__slider .js_next {
			display: none;
		}
	}
}