/**
 * Slider specific styles
 */
.block {
	
	&__slider {
		-khtml-user-select: none;
		-moz-user-select: -moz-none;
		-o-user-select: none;
		-webkit-user-select: none;
		@include border-radius(5px);
		display: block;
		margin: 35px auto;
		overflow: hidden;
		position: relative;
		user-select: none;
		width: $block-container;
		
		@media only screen and (max-device-width: 600px) and (orientation:landscape) {
			width: 530px;
		}
		
		@include mobile-up {
			width: 650px;
		}
		
		@media screen and (min-device-width: 640px) and (orientation:landscape) {
			width: 600px;
			max-width: 100%;
		}
		
		@include sm-desktop-up {
			width: 650px;
		}
		
		@include iphone-5-landscape {
			width: 450px;
		}
		
		.frame {
			@include border-radius(5px);
			font-size: 0;
			line-height: 0;
			margin: 0 auto;
			overflow: hidden;
			position: relative;
			white-space: nowrap;
			width: $block-container;
			
			@media only screen and (max-width: 600px) and (orientation:landscape) {
				width: 530xp;
			}
			
			@include iphone-5-landscape {
				width: 450px;
			}
			
			@include mobile-landscape {
				width: 520px;
			}
			
			@media screen and (min-width: 640px) {
				margin-left: -70px;
				width: 720px;
			}

			li {
				@include border-radius (5px);
				border: solid 1px #979797;
				display: inline-block;
				position: relative;
				
				img {
					@include border-radius (5px);
				}
			}
		}
		
		.prev, 
		.next {
			@include border-radius (5px);
			background: $color-black;
			cursor: pointer;
			display: block;
			height: 100%;
			opacity: 0.5;
			position: absolute;
			top: 0;
		}
		
		.next {
			right: 0;
		}

		.prev {
			left: 0;
		}

		.next svg, 
		.prev svg {
			height: 145px;
			width: 80px;
			
			@include mobile-up {
				width: 80px;
			}
			
			@include mobile-landscape {
				width: 70px;
			}
			
			@include tablet-up {
				width: 80px;
			}
		}
	}

	&__multislides {
		li {
			height: 148px;
			margin-right: 10px;
			width: 148px;
			
			@include iphone-5-landscape {
				height: 138px;
				width: 138px;
			}
			
			@include mobile-landscape {
				height: 138px;
				width: 138px;
			}
			
			&:last-child {
				margin-right: 0;
			}
		}	
	}
	
	&__slider.desktop {
		
		@include sm-desktop-up {
			float: right;
			margin: 10px auto;
			white-space: normal;
			width: 600px;
			
			.frame {
				margin-left: auto;
				white-space: normal;
				width: $block-container;
			}
			
			.slides {
				margin: 0;
				padding: 0;
				transform: none !important;
			}
			
			.js_prev,
			.js_next {
				display: none;
		  }
		}
	}
	
	&__multislides.desktop {
		li {
			@include sm-desktop-up {
				height: 168px;
				margin: 0 10px 20px 0;
				width: 168px;

				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}

	@media only screen and (min-width: 320px) and (max-width: 600px) {
		&__slider .js_prev,
		&__slider .js_next {
			display: none;
		}
	}
}